<h3>Envie para um amigo</h3>
<%= form_tag(share_recipe_path, method: :post) do  %>
  <%= label_tag :email, 'Email' %>
  <%= text_field_tag :email %>
  <%= label_tag :message, 'Mensagem' %>
  <%= text_area_tag :message %>
  <%= submit_tag 'Enviar' %>
<% end %>
