<h1><%=@recipe.title%></h1>

<h3>Detalhes</h3>

<b>Tipo da Receita:</b>
<p><%=@recipe.recipe_type.name%></p>

<b>Cozinha:</b>
<p><%=@recipe.cuisine.name%></p>

<b>Dificuldade:</b>
<p><%=@recipe.difficulty%></p>

<b>Tempo de preparo:</b>
<p><%=@recipe.cook_time%> minutos</p>

<h3>Ingredientes</h3>
<p><%=@recipe.ingredients%></p>

<h3>Como Preparar</h3>
<p><%=@recipe.method%></p>

<%= render 'options' %>
<%= render 'send_form' %>
