<h1> CookBook </h1>

<p><%= I18n.translate('site_description') %></p>
<%= form_tag("recipes/search", method: "get") do %>
  <%= text_field_tag(:q, nil, placeholder: "Busca") %>
  <%= submit_tag("Buscar") %>
<% end %>


<h1> Cozinhas </h1>
<% @cuisines.each do |cuisine| %>
<ul>
  <li><b><%= link_to(cuisine.name, cuisine_path(cuisine.id)) %></b></li>
</ul>
<% end %>

<h1> Tipos de receita </h1>
<% @recipe_types.each do |recipe_type| %>
<ul>
  <li><b><%= link_to(recipe_type.name, recipe_type_path(recipe_type.id)) %></b></li>
</ul>
<% end %>

<h1> Receitas </h1>
<% @recipes.each do |recipe| %>
      <h2><%= link_to recipe.title, recipe %></h2>
      <ul>
        <li><%= recipe.recipe_type.name %></li>
        <li><%= recipe.cuisine.name %></li>
        <li><%= recipe.difficulty %></li>
        <li><%= recipe.cook_time %> minutos</li>
      </ul>
<% end %>
<h1>Receitas mais favoritadas</h1>
<% @favorites.each do |recipe| %>
    <%= render recipe %>
<% end %>

<%=link_to('Ver todas receitas', recipes_path)%>
<%=link_to('Enviar uma receita', new_recipe_path)%>
