<!DOCTYPE html>
<html>
  <head>
    <title>MyCookbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <%if user_signed_in?%>
        <h3><%= "Bem vindo #{current_user.email}"%></h3></br>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete%>
      <%else%>
      <%=link_to 'Entrar', new_user_session_path%>
      <%end%>
      <%if flash[:notice]%>
        <%=flash[:notice]%>
      <%end%>
      <%if flash[:alert]%>
        <%=flash[:alert]%>
      <%end%>
      <%= yield %>
    </main>
    <aside>
      <%= yield :aside %>
    </aside>
  </body>
</html>
